<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
	<connectionStrings>
		<clear />
		<add name="PriceBookContext" connectionString="Data Source=tcp:conn952.gearhost.us.com;Initial Catalog=eighthundred;User ID=eighthundred;Pwd=k3yawruGa*" providerName="System.Data.SqlClient"/>
		<add name="CallCenterContext" connectionString="Data Source=tcp:conn952.gearhost.us.com;Initial Catalog=eighthundred;User ID=eighthundred;Pwd=k3yawruGa*" providerName="System.Data.SqlClient"/>
		<add name="MembershipConnection" connectionString="Data Source=tcp:conn952.gearhost.us.com;Initial Catalog=Membership;User ID=eighthundred;Password=k3yawruGa*;" providerName="System.Data.SqlClient" />
		<add name="QuestionnaireContext" connectionString="Data Source=tcp:conn952.gearhost.us.com;Initial Catalog=ConnectUsPro;User ID=eighthundred;Password=k3yawruGa*;" providerName="System.Data.SqlClient" />
		<add name="HVAC_appContext" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:conn952.gearhost.us.com;Initial Catalog=eighthundred;User ID=eighthundred;Password=k3yawruGa*" />
		<add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=conn952.gearhost.us.com;initial catalog=Membership;user id=eighthundred;password=k3yawruGa*;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="OwnerPortalContext" connectionString="Data Source=tcp:conn952.gearhost.us.com;Initial Catalog=eighthundred;User ID=eighthundred;Pwd=k3yawruGa*;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="IncomingCallsQAEntities" connectionString="metadata=res://*/IncomingCallModel.csdl|res://*/IncomingCallModel.ssdl|res://*/IncomingCallModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:conn952.gearhost.us.com;initial catalog=DB_10668_calls;persist security info=True;user id=eighthundred;password=k3yawruGa*;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="EightHundredBaseContext" connectionString="metadata=res://*/EightHundred.EightHundred.csdl|res://*/EightHundred.EightHundred.ssdl|res://*/EightHundred.EightHundred.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=conn952.gearhost.us.com;Initial Catalog=eighthundred;Persist Security Info=True;User ID=eighthundred;Password=k3yawruGa*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ReportingEntities" connectionString="metadata=res://*/Reporting.ReportingEntities.csdl|res://*/Reporting.ReportingEntities.ssdl|res://*/Reporting.ReportingEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=conn952.gearhost.us.com;Initial Catalog=eighthundred;Persist Security Info=True;User ID=eighthundred;Password=k3yawruGa*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="TestMode" value="true"/>
		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="DocumentGenerationUser" value="docgen"/>
		<add key="DocumentGenerationPassword" value="3S(6jn*4."/>

    <add key="InvoiceSendBcc" value="psincler@1800plumber.com"/>

		<add key="PlumberInvoicesFrom" value="info@1800plumber.com"/>
		<add key="ConnectUsProInvoicesFrom" value="invoices@serviceinvoices.com"/>
		<add key="SecurityGuardEmailFrom" value="info@connectuspro.com" />
		<add key="SecurityGuardEmailSubject" value="Your Password has been reset." />
		<add key="SecurityGuardEmailTemplatePath" value="~/MailerTemplates/ResetPassword.html" />

		<add key="AppInstalled" value="false" />

		<add key="bDailySales" value="9,835|10,378" />
		<add key="bMonthlySales" value="187,258|202,358" />
		<add key="bDailyJobs" value="28|25" />
		<add key="bMonthlyJobs" value="387|400" />

		<add key="bDailyCloseRate" value="85|78" />
		<add key="bMonthlyCloseRate" value="85|75" />
		<add key="bDailyAvgTicket" value="351.25|415.12" />
		<add key="bMonthlyAvgTicket" value="483.87|505.90" />

		<add key="bDailyHG" value="4|5" />
		<add key="bMonthlyHG" value="40|45" />
		<add key="bDailyBIO" value="5|6" />
		<add key="bMonthlyBIO" value="100|105" />
		<add key="bDailyRecall" value="9|10" />
		<add key="bMonthlyRecall" value="65|56" />
		<add key="bDailyPayroll" value="1300|1400" />
		<add key="bMonthlyPayroll" value="26000|28000" />

    <add key="SendToTabletDropPath" value="C:\ServerWare\DEV\ProcessingFolders\800FTPSite\SentToIPadJobs"/>
    <add key="InitTabletDropPath" value="C:\ServerWare\DEV\ProcessingFolders\800FTPSite\SentToIPadInit"/>
	</appSettings>
  <log4net>
    <appender name="DefaultAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\logs\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1024KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="DefaultAppender"/>
    </root>
  </log4net>
</configuration>