@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Please complete training first</title>
</head>
<body>
    <h2>
       Unfortunately, you have not completed the training that allows you access to this part of the system.
    </h2>
</body>
</html>
