@{
    ViewBag.Title = "Payroll History";
    Layout = "~/Views/Shared/_FranchiseSelectionLayout.cshtml";
}
@section Styles {
    <link href="../../../../codebase/dhtmlxgrid.css" rel="stylesheet" type="text/css" />
    <link href="../../../../codebase/skins/dhtmlxgrid_dhx_skyblue.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../../codebase/dhtmlxgrid_pgn_bricks.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/Report.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/Tablestyle.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../../../codebase/skins/dhtmlxcalendar_dhx_skyblue.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../../codebase/dhtmlxcalendar.css" rel="stylesheet" type="text/css" />
    <link rel="Stylesheet" type="text/css" href="../../../../codebase/dhtmlxtabbar.css" />
}
@section ScriptIncludes {
    <script src="../../../../codebase/dhtmlxcommon.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxcontainer.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgrid.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgridcell.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgrid_excell_link.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgrid_pgn.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgrid_filter.js" type="text/javascript"></script>
    <script src="../../../../codebase/json2.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxcalendar.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxcommon.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxtabbar.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxtabbar_start.js" type="text/javascript"></script>
    <script src="../../../../codebase/ext/dhtmlxgrid_export.js" type="text/javascript"></script>
    <script type="text/javascript">
        dhtmlx.skin = "dhx_skyblue";
    </script>
}
@section InlineScript {
    <script type="text/javascript">

        $(document).ready(function () {
            SiteBlue.renderMenu(true);
            $(SiteBlue).bind("FranchiseChanged", function (e, data) { DoOnLoad(); });
            DoOnLoad();

        });

        function DoOnLoad() {

            var myCalendar;
            myCalendar = new dhtmlXCalendarObject(["ReminderDate"]);
            //            var FranchiseID = $("#hdnFranchiseID").val();
            var date = $("#ReminderDate").val();
            var ReminderType = $("#ddlReminderType").val();
            var gridReminder;
            var xmlstringReminder = "";
            var ID = { franchisid: SiteBlue.franchiseId, Date: date, Remindertype: ReminderType };

            if (ReminderType == 'Reviews') {
                var jsondata = $.ajax({
                    url: "/Employee/LoadReminderData",
                    data: JSON.stringify(ID),
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        gridReminder = new dhtmlXGridObject("gridbox");
                        //gridEmpList.setInitWidths("222,222,222,222,222,222");
                        gridReminder.setHeader("Employee,Review Date,Form,Subject");
                        gridReminder.enablePaging(true, 10, 3, "gridpgn", false);
                        gridReminder.setPagingSkin("bricks");
                        gridReminder.setColTypes("txt,txt,txt,txt");
                        gridReminder.init();
                        gridReminder.setSkin("dhx_skyblue");

                        var AdForHomePages = msg;
                        xmlstringReminder = xmlstringReminder + "<rows>";
                        $.each(AdForHomePages, function (index, EmployeeReview) {


                            xmlstringReminder = xmlstringReminder + "<row id='" + index + "'>";
                            //                            if (ReminderType == 'Reviews')
                            xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + EmployeeReview.EmployeeName + "]]></cell>";
                            if (EmployeeReview.ReviewDate != null)
                                xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + new Date(parseInt(EmployeeReview.ReviewDate.substr(6))) + "]]></cell>";
                            else
                                xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + "" + "]]></cell>";
                            if (EmployeeReview.Form != null)
                                xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + EmployeeReview.Form + "]]></cell>";
                            else
                                xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + "" + "]]></cell>";
                            xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + EmployeeReview.Subject + "]]></cell>";
                            //                            else
                            //xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + EmployeeReview.DateReason + "]]></cell>";


                            xmlstringReminder = xmlstringReminder + "</row>";
                        });
                        xmlstringReminder = xmlstringReminder + "</rows>";
                        //mygrid.clearAll();

                        gridReminder.loadXMLString(xmlstringReminder);
                        document.getElementById("gifId").style.display = "none";
                    },
                    type: "POST",
                    dataType: "json",
                    error: function (e) {
                        $('#output').innerHtml(e);

                    }
                });

            }
            else {

                var jsondata = $.ajax({
                    url: "/Employee/LoadReminderData",
                    data: JSON.stringify(ID),
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        gridReminder = new dhtmlXGridObject("gridbox");
                        gridReminder.setHeader("Employee,Date Reason,Date");
                        gridReminder.setColTypes("txt,txt,txt");
                        gridReminder.enablePaging(true, 10, 3, "gridpgn", false);
                        gridReminder.setPagingSkin("bricks");
                        gridReminder.init();
                        gridReminder.setSkin("dhx_skyblue");

                        var AdForHomePages = msg;
                        xmlstringReminder = xmlstringReminder + "<rows>";
                        $.each(AdForHomePages, function (index, EmployeeReview) {

                            xmlstringReminder = xmlstringReminder + "<row id='" + index + "'>";
                            xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + EmployeeReview.EmployeeName + "]]></cell>";
                            xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + EmployeeReview.DateReason + "]]></cell>";
                            if (EmployeeReview.BirthDate != null)
                                xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + new Date(parseInt(EmployeeReview.BirthDate.substr(6))) + "]]></cell>";
                            else
                                xmlstringReminder = xmlstringReminder + "<cell><![CDATA[" + "" + "]]></cell>";
                            xmlstringReminder = xmlstringReminder + "</row>";
                        });
                        xmlstringReminder = xmlstringReminder + "</rows>";
                        //mygrid.clearAll();

                        gridReminder.loadXMLString(xmlstringReminder);
                        document.getElementById("gifId").style.display = "none";
                    },
                    type: "POST",
                    dataType: "json",
                    error: function (e) {
                        $('#output').innerHtml(e);

                    }
                });
            }


        }
        function downloadToExcel() {
            alert('jk');
            gridReminder.toExcel("/Employee/DownloadEmployeeList");
        }

    </script>
}
<style type="text/css">
    .link
    {
        text-decoration: none;
        color: Black;
        cursor: hand;
        cursor: pointer;
    }
</style>
@{Html.BeginForm("EmployeeReminders", "Employee");}
<div style="height: 650px; margin-top: 10px;" class=" dhx_tabbar_zone_top">
    <div class="dhx_tabbar_zone dhx_tabbar_zone_dhx_skyblue">
        <div class="dhx_tablist_zone" style="height: 24px; top: 0px;">
            <div class="dhx_tabbar_row" style="height: 26px; top: 0px; z-index: 10;">
                <div class="dhx_tab_element dhx_tab_element_inactive dhx_tab_hover" style="height: 26px;
                    background-color: white; z-index: 7; top: 0px; left: 5px; width: 150px;">
                    <div align="center" id='gifId'>
                        <img src="../../../../Images/ajax-loader.gif" alt="processing..." />
                    </div>
                    <span><a class="link" href="../Employee/EmployeeList">Employee List</a></span><div
                        style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                    </div>
                </div>
 @*               <div class="dhx_tab_element dhx_tab_element_inactive dhx_tab_hover" style="height: 26px;
                    background-color: white; z-index: 5; top: 0px; left: 154px; width: 150px;">
                    <span><a class="link" href="../PayrollHistory/PayrollSetup">Payroll Setup</a></span><div
                        style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                    </div>
                </div>
                <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 150px; height: 26px;
                    top: 0px; left: 303px;">
                    <span><a class="link" href="TimeCardSummary">Time Card Summary</a></span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                    </div>
                </div>
                <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 150px; height: 26px;
                    top: 0px; left: 452px;">
                    <span><a class="link" href="../PayrollHistory/PayrollProcessing">Payroll Processing</a></span><div
                        style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                    </div>
                </div>
                <div class="dhx_tab_element dhx_tab_element_inactive" style="height: 26px; background-color: white;
                    z-index: 7; top: 0px; left: 601px; width: 150px;">
                    <span><a class="link" href="../PayrollHistory/GetPayrollHistroy">Payroll History</a></span><div
                        style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                    </div>
                </div>*@
                <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 100px; height: 26px;
                    top: 0px; left: 750px;">
                    <span><a class="link" href="HR_Form">Forms</a></span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 94px; left: 3px; background-position: 0px -230px;">
                    </div>
                </div>
                <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 100px; height: 26px;
                    top: 0px; left: 849px;">
                    <span><a class="link" href="../Employee/HR_ReviewForm">Reviews</a></span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 94px; left: 3px; background-position: 0px -230px;">
                    </div>
                </div>
                <div class="dhx_tab_element dhx_tab_element_active dhx_tab_hover" tab_id="a8" style="height: 26px;
                    top: 0px; left: 948px; width: 100px; background-color: white; z-index: 5;">
                    <span>Reminders</span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; left: 0px; background-position: 0px -50px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 3px; right: 0px; background-position: 0px -140px;">
                    </div>
                    <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                        top: 0px; width: 94px; left: 3px; background-position: 0px -95px;">
                    </div>
                </div>
                <div class="dhx_tablist_line" style="top: 22px; z-index: 8; width: 1332px;">
                </div>
            </div>
        </div>
        <div class="dhx_tabcontent_zone" style="background-color: white; height: 621px; width: 99.9%;
            top: 27px;">
            <div style="overflow: hidden; position: absolute; z-index: 1; left: 0px; top: 0px;
                width: 99.9%; height: 621px;">
                <div id="dhxMainCont" style="position: relative; left: 0px; top: 0px; overflow: hidden;
                    width: 100%; height: 800px;">
                    <fieldset style="vertical-align: bottom; padding: 5px 0px 5px 0px; width: 100%; margin: 0px;">
                        <div style="margin-right: 50px; float: left; margin-left: 5px;">
                            <label style="font-size: larger; font-weight: bold;">
                                Reminders</label>
                        </div>
                        <div style="float: right">
                            @Html.Label("Reminder Type")
                            @Html.DropDownList("ddlReminderType", new SelectList(new[] { "Employee Dates", "Reviews" }, ViewBag.ReminderType), new { onChange = " DoOnLoad()" })
                            @Html.Label("Between Today and")
                            @Html.TextBox("ReminderDate", ((DateTime)ViewBag.ReminderDate).ToString("MM/dd/yyyy"), new { onChange = " DoOnLoad()" })
                            <input type="button" value="Submit" onclick="DoOnLoad()" />
                        </div>
                    </fieldset>
                    <div id="gridbox" style="clear: both; width: 100%; height: 500px; margin-top: 10px;">
                    </div>
                    <div id="gridpgn">
                    </div>
                </div>
            </div>
        </div>
        <div class="dhx_tabbar_lineA" style="top: 24px; width: 100%;">
        </div>
        <div class="dhx_tabbar_lineB" style="top: 24px; width: 100%;">
        </div>
        <div class="dhx_tabbar_lineC" style="height: 21px;">
        </div>
        <div class="dhx_tabbar_lineD">
        </div>
    </div>
</div>
<div style="margin: 10px; float: right;">
    <input id="btnCTExcel" type="button" onclick="downloadToExcel()" value="Export" />
</div>
@{Html.EndForm();}

