@model int
@if (Model != 0)
{
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <html>
    <head>
        <title>HR Form</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="../../../../Content/Tablestyle.css" rel="stylesheet" type="text/css" />
        <link href="../../../../codebase/dhtmlxgrid.css" rel="stylesheet" type="text/css" />
        <link href="../../../../codebase/skins/dhtmlxgrid_dhx_skyblue.css" rel="stylesheet"
            type="text/css" />
        <link rel="stylesheet" type="text/css" href="../../../../codebase/dhtmlxwindows.css" />
        <link rel="stylesheet" type="text/css" href="../../../../codebase/skins/dhtmlxwindows_dhx_skyblue.css" />
        <script src="../../../../codebase/dhtmlxcommon.js" type="text/javascript"></script>
        <script src="../../../../codebase/dhtmlxgrid.js" type="text/javascript"></script>
        <script src="../../../../codebase/dhtmlxgridcell.js" type="text/javascript"></script>
        <script src="../../../../content/json2.js" type="text/javascript"></script>
        <link href="../../../../Content/Report.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="../../../../../../common/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="../../../../../../common/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../../../../../../common/css/style.css" type="text/css"
            media="screen" />
        <link href="../../../../Content/Site.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="../../../../../codebase/dhtmlxcalendar.css" />
        <link rel="stylesheet" type="text/css" href="../../../../../codebase/skins/dhtmlxcalendar_dhx_skyblue.css" />
        <link href="../../../../codebase/dhtmlxgrid.css" rel="stylesheet" type="text/css" />
        <link href="../../../../codebase/skins/dhtmlxgrid_dhx_skyblue.css" rel="stylesheet"
            type="text/css" />
        <script src="../../../../codebase/dhtmlxcommon.js" type="text/javascript"></script>
        <script src="../../../../codebase/dhtmlxgrid.js" type="text/javascript"></script>
        <script src="../../../../codebase/dhtmlxgridcell.js" type="text/javascript"></script>
        <script src="../../../../codebase/dhtmlxgrid_excell_link.js" type="text/javascript"></script>
        <script src="../../../../codebase/dhtmlxwindows.js" type="text/javascript"></script>
        <script src="../../../../codebase/dhtmlxcontainer.js" type="text/javascript"></script>
        <script src="../../../../../codebase/dhtmlxcalendar.js" type="text/javascript"></script>
        <link href="../../../../Content/Site.css" rel="stylesheet" type="text/css" />
        <script src="../../../../codebase/dhtmlxgrid_pgn.js" type="text/javascript"></script>
        <link href="../../../../codebase/dhtmlxgrid_pgn_bricks.css" rel="stylesheet" type="text/css" />
        <link rel="Stylesheet" type="text/css" href="../../../../codebase/dhtmlxtabbar.css" />
        <script src="../../../../codebase/dhtmlxcommon.js" type="text/javascript"></script>
        <script src="../../../../codebase/dhtmlxtabbar.js" type="text/javascript"></script>
        <script src="../../../../codebase/dhtmlxtabbar_start.js" type="text/javascript"></script>
        <link href="../../../../Content/Report.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="../../../../../../common/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="../../../../../../common/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../../../../../../common/css/style.css" type="text/css"
            media="screen" />
        <link href="../../../../Content/Tablestyle.css" rel="stylesheet" type="text/css" />
        <script src="../../../../codebase/dhtmlxgrid_pgn.js" type="text/javascript"></script>
        <link href="../../../../codebase/dhtmlxgrid_pgn_bricks.css" rel="stylesheet" type="text/css" />
        <script src="../../../../codebase/dhtmlxgrid_srnd.js" type="text/javascript"></script>
        <script type="text/javascript">
            dhtmlx.skin = "dhx_skyblue";
        </script>
        <script src="../../../../Scripts/jquery-1.5.1.min.js" type="text/javascript"></script>
        <script type="text/javascript" language="javascript">
            function RowClick(rId, cInd) {

                var cellObj = gridName.cellById(rId, 0);
                //  window.location.href = "../AllCustomers/CustomerInformation?Custid=" + cellObj.getValue();
            }
            //function doOnLoad() {
              $(document).ready(function () {

                document.getElementById("gifId").style.display = "block";
                var xmlstringEmpList = "";
                //  var empid = { checkStatus: status, franchiseId: FranchiseeId };
                var jsondata = $.ajax({
                    url: "/Employee/Load_HR_Form",
                    //    data: JSON.stringify(empid),
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {

                        gridEmpList = new dhtmlXGridObject("gridEmployee");
                        //gridEmpList.setInitWidths("220,220,220,220");
                        gridEmpList.setHeader("Form,Purpose,Usage,Document");
                        gridEmpList.setColTypes("txt,txt,txt,txt");
                        gridEmpList.attachEvent("onRowSelect", "RowClick");
                        gridEmpList.init();
                        //                    gridEmpList.setColumnHidden(0, true);
                        gridEmpList.setSkin("dhx_skyblue");

                        var AdForHomePages = msg;
                        xmlstringEmpList = xmlstringEmpList + "<rows>";
                        $.each(AdForHomePages, function (index, HR_Forms) {


                            xmlstringEmpList = xmlstringEmpList + "<row id='" + index + "'>";
                            xmlstringEmpList = xmlstringEmpList + "<cell><![CDATA[" + HR_Forms.Form + "]]></cell>";
                            xmlstringEmpList = xmlstringEmpList + "<cell><![CDATA[" + HR_Forms.Usage + "]]></cell>";

                            xmlstringEmpList = xmlstringEmpList + "<cell><![CDATA[" + HR_Forms.Purpose + "]]></cell>";
                            xmlstringEmpList = xmlstringEmpList + "<cell><![CDATA[" + HR_Forms.DocumentName + "]]></cell>";

                            xmlstringEmpList = xmlstringEmpList + "</row>";
                        });

                        xmlstringEmpList = xmlstringEmpList + "</rows>";
                        //mygrid.clearAll();

                        gridEmpList.loadXMLString(xmlstringEmpList);
                        document.getElementById("gifId").style.display = "none";
                    },
                    type: "POST",
                    dataType: "json",
                    error: function (e) {
                        $('#output').innerHtml(e);

                    }
                });
            });
            //}
        </script>
        <style type="text/css">
            .link
            {
                text-decoration: none;
                color: Black;
                cursor: hand;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        @{Html.BeginForm("PayrollSetup", "PayrollHistory");}
        @*<div style="background-color: #2C2D31; height: 30px; width: 100%">
            <div style="float: left; padding-right: 30px; padding-left: 10px;">
                <img src="../../Images/ConnectusPro logo CMYK 2.png" height="95%" width="150px" alt="Image not found" />
            </div>
            <div style="padding-left: 30px; padding-top: 5px">
                @Html.DropDownList("ddlFrenchise", new SelectList(ViewBag.frenchise, "FranchiseID", "FranchiseNumber", ViewBag.FrenchiseID), (string)ViewBag.FrenchiseID, new { onchange = "doOnDataLoad()" })
            </div>
        </div>*@
        <div style="height: 650px; margin-top: 10px;" class=" dhx_tabbar_zone_top">
            <div class="dhx_tabbar_zone dhx_tabbar_zone_dhx_skyblue">
                <div class="dhx_tablist_zone" style="height: 24px; top: 0px;">
                    <div class="dhx_tabbar_row" style="height: 26px; top: 0px; z-index: 10;">
                        <div class="dhx_tab_element dhx_tab_element_inactive" style="height: 26px; top: 0px;
                            left: 5px; width: 150px; background-color: white; z-index: 3;">
                            <span>Employee List</span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; left: 0px; background-position: 0px -50px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; right: 0px; background-position: 0px -140px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 144px; left: 3px; background-position: 0px -95px;">
                            </div>
                        </div>
                        <div class="dhx_tab_element dhx_tab_element_inactive" style="height: 26px; background-color: white;
                            z-index: 5; top: 0px; left: 154px; width: 150px;">
                            <span><a class="link" href="../PayrollHistory/PayrollSetup">Payroll Setup</a></span><div
                                style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                            </div>
                        </div>
                        <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 150px; height: 26px;
                            top: 0px; left: 303px;">
                            <span>Time Card Summary</span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                            </div>
                        </div>
                        <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 150px; height: 26px;
                            top: 0px; left: 452px;">
                            <span><a class="link" href="../PayrollHistory/PayrollProcessing">Payroll Processing</a></span><div
                                style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                            </div>
                        </div>
                        <div class="dhx_tab_element dhx_tab_element_inactive" style="height: 26px; background-color: white;
                            z-index: 7; top: 0px; left: 601px; width: 150px;">
                            <span><a class="link" href="../PayrollHistory/GetPayrollHistroy">Payroll History</a></span><div
                                style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                            </div>
                        </div>
                        <div class="dhx_tab_element dhx_tab_element_active" style="width: 100px; height: 26px;
                            top: 0px; left: 750px;">
                            <span>Forms</span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 94px; left: 3px; background-position: 0px -230px;">
                            </div>
                        </div>
                        <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 100px; height: 26px;
                            top: 0px; left: 849px;">
                            <span><a class="link" href="../Employee/HR_ReviewForm">Reviews</a></span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 94px; left: 3px; background-position: 0px -230px;">
                            </div>
                        </div>
                        <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 100px; height: 26px;
                            top: 0px; left: 948px;">
                            <span><a class="link" href="../Employee/EmployeeReminders">Reminders</a></span><div
                                style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                            </div>
                            <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                                top: 0px; width: 94px; left: 3px; background-position: 0px -230px;">
                            </div>
                        </div>
                        <div class="dhx_tablist_line" style="top: 22px; z-index: 8; width: 1332px;">
                        </div>
                    </div>
                </div>
                <div class="dhx_tabcontent_zone" style="background-color: white; height: 621px; width: 99.9%;
                    top: 27px;">
                    <div style="overflow: hidden; position: absolute; z-index: 1; left: 0px; top: 0px;
                        width: 99.9%; height: 621px;">
                        <div id="dhxMainCont" style="position: relative; left: 0px; top: 0px; overflow: hidden;
                            width: 100%; height: 800px;">
                            <div id="divEmployeeList" style="width: 100%; height: 650px; background-color: white;
                                overflow: hidden;">
                                <fieldset style="vertical-align: bottom; padding: 5px 0px 5px 0px; width: 99%; margin: 5px;">
                                    <div style="margin-right: 50px; float: left; margin-left: 5px;">
                                        <label style="font-size: larger; font-weight: bold;">
                                            Employee HR Form</label>
                                    </div>
                                    <div style="float: right; margin-right: 2px;">
                                        @* @Html.CheckBox("showInactive", (bool)ViewBag.showInactive, new { onchange = "doOnDataLoad()", style = "margin-left:10px;" })
                                    @Html.Label("Active")*@
                                    </div>
                                </fieldset>
                                <div align="center" id='gifId'>
                                    <img src="../../../../Images/ajax-loader.gif" alt="processing..." />
                                </div>
                                <div id="gridEmployee" style="width: 100%; height: 530px; background-color: white;
                                    overflow: hidden;">
                                </div>
                                <div id="gridpgn">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*   <div class="dhx_tabbar_lineA" style="top: 24px; width: 100%;">
            </div>
            <div class="dhx_tabbar_lineB" style="top: 24px; width: 100%;">
            </div>
            <div class="dhx_tabbar_lineC" style="height: 21px;">
            </div>
            <div class="dhx_tabbar_lineD">
            </div>*@
            </div>
        </div>
        @{Html.EndForm();}
    </body>
    </html>
}
else
{
    @:<text>No information available</text>
}