@model List<SiteBlue.Questionnaire.Data.AdvertisedPhoneNumber>
<div class="form" id="advertisedPhoneForm">
    <div class="formComponent formComponentSingleLineText">
        <label class="formComponentLabel">
            List ALL advertised phone numbers from which we may receive customer calls. </label>
        <br />
    </div>
    <div class="formComponent formComponentSingleLineText">
        <input type="hidden" id="uiAdvertisedPhoneNumberId" name="uiAdvertisedPhoneNumberId" />
        <label for="uiAdvertisedPhone">
            Advertised phone</label>
        <input type="text" id="uiAdvertisedPhone" name="uiAdvertisedPhone" class="validate[maxSize[20]]" />
        <label for="uiAdvertisedPhoneComment">
            Comment</label>
        <textarea id="uiAdvertisedPhoneComment" name="uiAdvertisedPhoneComment" class="validate[maxSize[255]]" rows="3" cols="30"></textarea>
    </div>
    <div class="buttons">
        <ul class="jquerycontrol">
            <li><a class="formbutton" onclick="saveAdvertisedPhoneNumber()" id="save">Add New Number</a></li>
            <li></li>
        </ul>
    </div>
</div>
<div class="formComponent formComponentSingleLineText" id="zoneAdvertisedPhoneNumbers">
    @Html.Partial("Partial/AdvertisedPhoneNumbersTable", Model)
</div>

<script type="text/javascript">

    var _advertisedPhone = -1;

    function saveAdvertisedPhoneNumber() {
        var name = $("#uiAdvertisedPhone").val();
        var comment = $("#uiAdvertisedPhoneComment").val();
        var bid = $("#uiBusinessInformationId").val();
        var id = $("#uiAdvertisedPhoneNumberId").val();
        if (name == "") {
            $("#error-div").html("Some fields are required!");
            $("#error-div").fadeIn("fast");
            $("#uiAdvertisedPhone").parents('.formComponent').addClass('formComponentValidationFailed');
            $("#error-div").fadeOut(5000);
            return false;
        } else {
            $.ajax({
                cache: false,
                url: '@Url.Content("~/Questionnaire/SaveAdvertisedPhoneNumber")',
                type: 'POST',
                data: { bid: bid, id: id, name: name, comment: comment },
                success: function (r) {
                    $("#zoneAdvertisedPhoneNumbers").html(r.data);
                    $("#message-div").html("item saved with success!");
                    $("#message-div").fadeIn("fast");
                    $("#uiAdvertisedPhoneNumberId").val("");
                    $("#uiAdvertisedPhone").val("");
                    $("#uiAdvertisedPhoneComment").val("");
                    $("#uiAdvertisedPhone").parents('.formComponent').removeClass('formComponentHighlight');
                    $("#uiAdvertisedPhone").parents('.formComponent').removeClass('formComponentValidationFailed');
                    $("#message-div").fadeOut(4000);
                },
                error: function () {
                    $("#error-div").html("An error occured while trying to save the selected item, try again!");
                    $("#error-div").fadeIn("fast");
                    $("#uiAdvertisedPhone").parents('.formComponent').addClass('formComponentValidationFailed');
                    $("#error-div").fadeOut(5000);
                }
            });
        }
    }

    function deleteAdvertisedPhone() {
        $("#message-div").html("item deleted with success!");
        $("#message-div").fadeIn("fast");
        $("#message-div").fadeOut(4000);
    }

    function selectAdvertisedPhone(itemId) {

        $.ajax({
            cache: false,
            url: '@Url.Content("~/Questionnaire/GetAdvertisedPhoneNumber")',
            type: 'POST',
            data: { id: itemId },
            success: function (data) {
                $("#uiAdvertisedPhoneNumberId").val(data.advertisedPhoneNumberId);
                $("#uiAdvertisedPhone").val(data.advertisedPhone);
                $("#uiAdvertisedPhoneComment").val(data.advertisedPhoneComment);
            },
            error: function () {
                $("#error-div").html("An error occured while trying to load the selected item, try again!");
                $("#error-div").fadeIn("fast");
                $("#error-div").fadeOut(5000);
            }
        });
    }

    function beginAdvertisedPhone(name) {
        _advertisedPhone = $(name).attr("itemid");
        selectAdvertisedPhone(_advertisedPhone);
    }
</script>
