@{
ViewBag.Title = "Pop up Weekly Sales Detail";
Layout = "~/Areas/MyFinances/Views/Shared/_SecurityGuardLayoutPage.cshtml";
}

<script type="text/javascript">
   
    $('document').ready(function () {

        var companycode = "@ViewBag.code"
        if (companycode != null && companycode != "") {
            $.post('@Url.Action("popupWeeklySalesdet")',
{ code: companycode }, function (data) {
    $("#target").html(data);
});
        }

        $('#test1 > li > a').click(function (index) {
            var companycode = $(this).text();

            $.post('@Url.Action("popupWeeklySalesdet")',
{ code: companycode }, function (data) {
    $("#target").html(data);
    $('#current > a').text(companycode);
    $('li a')[1].click();
});


        });

        $('#current > a').click(function (index) {
            var companycode = $(this).text();
            $.post('@Url.Action("popupWeeklySalesdet")',
{ code: companycode }, function (data) {
    $("#target").html(data);
});
        });
    });

</script>

<div id="target" >

</div>

