<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <!--TEST-->
    <add name="PriceBookContext" connectionString="Data Source=tcp:conn952.gearhost.us.com;Initial Catalog=eighthundred;User ID=eighthundred;Pwd=k3yawruGa*" providerName="System.Data.SqlClient"/>
    <add name="PlumberContext" connectionString="Data Source=tcp:conn952.gearhost.us.com;Initial Catalog=EightWeb;User ID=eighthundred;Pwd=k3yawruGa*" providerName="System.Data.SqlClient"/>
    <add name="MembershipConnection" connectionString="Data Source=tcp:conn952.gearhost.us.com;Initial Catalog=Membership;User ID=eighthundred;Password=k3yawruGa*;" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Data Source=tcp:conn952.gearhost.us.com;Initial Catalog=Membership;User ID=eighthundred;Password=k3yawruGa*;" providerName="System.Data.SqlClient" />
    <!--PRODCUTION-->
    <!--<add name="MembershipConnection" connectionString="Data Source=tcp:conn951.gearhost.us.com;Initial Catalog=Membership;User ID=eighthundred;Password=A8b9jdlO;" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Data Source=tcp:conn951.gearhost.us.com;Initial Catalog=Membership;User ID=eighthundred;Password=A8b9jdlO;" providerName="System.Data.SqlClient" />
    <add name="PriceBookContext" connectionString="Data Source=tcp:conn951.gearhost.us.com;Initial Catalog=EightWeb;User ID=eighthundred;Password=A8b9jdlO;" providerName="System.Data.SqlClient" />
    <add name="PlumberContext" connectionString="Data Source=tcp:conn951.gearhost.us.com;Initial Catalog=EightWeb;User ID=eighthundred;Password=A8b9jdlO;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SecurityGuardEmailFrom" value="info@email.net" />
    <add key="SecurityGuardEmailSubject" value="Your Password has been reset." />
    <add key="SecurityGuardEmailTemplatePath" value="~/MailerTemplates/ResetPassword.html" />
    <add key="website" value="http://www.1800plumber.com"/>
    <add key="ConnectUsProWebsite" value="http://www.connectuspro.com"/>
    <add key="CareerEmail" value="customerservice@1800plumber.com" />
    <add key="CustomerServiceEmail" value="customerservice@1800plumber.com" />
    <add key="ServiceFeedbackEmail" value="customerservice@1800plumber.com" />
    <!--<add key="CustomerServiceEmail" value="anisboulaid@gmail.com" />
    <add key="ServiceFeedbackEmail" value="anisboulaid@gmail.com" />-->
    <!--<add key="website" value="http://localhost:10817"/>-->
    <!-- Development site -->
    <!--<add key="website" value="http://www.1800plumber.com"/> -->
    <!-- Production site -->
    <!--<add key="website" value="http://69.24.66.79"/>-->
    <!-- 800plumber Test site -->
    <!--<add key="ConnectUsProWebsite" value="http://69.24.66.80"/>-->
    <!-- ConnectUsPro Test site -->
    <!--<add key="ConnectUsProWebsite" value="http://localhost:19854"/>-->
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="Http404.htm" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/LogOn" timeout="2880" />-->
      <forms loginUrl="~/SGAccount/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="ConnectusPro" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="ConnectusPro" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="ConnectusPro"
          name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="ConnectusPro" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="mail.connectuspro.com" userName="info@connectuspro.com" password="Acceler8ted" enableSsl="false" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>