@{
    ViewBag.Title = "Payroll History";
    Layout = "~/Views/Shared/_FranchiseSelectionLayout.cshtml";
}
@section Styles {

  <link href="../../../../codebase/dhtmlxgrid.css" rel="stylesheet" type="text/css" />
    <link href="../../../../codebase/skins/dhtmlxgrid_dhx_skyblue.css" rel="stylesheet" type="text/css" />
    <link href="../../../../codebase/dhtmlxgrid_pgn_bricks.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/Report.css" rel="stylesheet" type="text/css" />
    
    <link href="../../../../Content/Tablestyle.css" rel="stylesheet" type="text/css" />
    <link href="../../../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="../../../../codebase/skins/dhtmlxcalendar_dhx_skyblue.css" rel="stylesheet" type="text/css" />
    <link href="../../../../codebase/dhtmlxcalendar.css" rel="stylesheet" type="text/css"  />  
    <link rel="Stylesheet" type="text/css" href="../../../../codebase/dhtmlxtabbar.css" />
    }
    
    @section ScriptIncludes {
    <script src="../../../../codebase/dhtmlxcommon.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxcontainer.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxcommon.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgrid.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgridcell.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgrid_excell_link.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgrid_pgn.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxgrid_filter.js" type="text/javascript"></script>
    <script src="../../../../codebase/json2.js" type="text/javascript"></script>
    
    <script src="../../../../codebase/dhtmlxcalendar.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxcommon.js" type="text/javascript"></script>

    <script src="../../../../codebase/dhtmlxtabbar.js" type="text/javascript"></script>
    <script src="../../../../codebase/dhtmlxtabbar_start.js" type="text/javascript"></script>
    <script src="../../../../codebase/ext/dhtmlxgrid_export.js" type="text/javascript"></script>
<script>
    dhtmlx.skin = "dhx_skyblue";
</script>
    }

    @section InlineScript {
    <script type="text/javascript">
        $(document).ready(function () {
            SiteBlue.renderMenu(true);
            $(SiteBlue).bind("FranchiseChanged", function (e, data) { LoadData(); });
            LoadData();
        });

        function CommaFormatted(amount) {
            try {

                amount = String(Math.round(amount * 100) / 100);
                var delimiter = ","; // replace comma if desired  
                var a = String(amount).split('.', 2)
                var d = '00';
                //var d = a[1];
                if (a[1] != null) {
                    d = a[1];
                }

                var i = parseInt(a[0]);
                if (isNaN(i)) { return '0.00'; }
                var minus = '';
                if (i < 0) { minus = '-'; }
                i = Math.abs(i);
                var n = new String(i);
                var a = [];
                while (n.length > 3) {
                    var nn = n.substr(n.length - 3);
                    a.unshift(nn);
                    n = n.substr(0, n.length - 3);
                }
                if (n.length > 0) { a.unshift(n); }
                n = a.join(delimiter);
                if (d.length < 1) { amount = n; }
                else { amount = n + '.' + d; }
                amount = minus + amount;
                return amount;
            } catch (e) {
                return "0.00";
            }
        }
        function formatJSONDate(jsonDate) {
            var newDate = dateFormat(jsonDate, "mm/dd/yyyy");
            return newDate;

        }
        function RowClick(rId, cInd) {
            var cellObj = gridPayrollInfo.cellById(rId, 0);
            window.open("../PayrollHistory/PayrollProcessing?Id=" + cellObj.getValue());
        }

        function ExportExcel() {
            gridPayrollInfo.toExcel("/PayrollHistory/ExportToExcel");
        }

        function LoadData() {

            var xmlstringPayrollInfo = "";
            var frachiseID = { franchisid: SiteBlue.franchiseId };

            var jsondata = $.ajax({
                url: "/PayrollHistory/GetParyrollSummary",
                data: JSON.stringify(frachiseID),
                contentType: "application/json; charset=utf-8",
                success: function (msg) {


                    gridPayrollInfo = new dhtmlXGridObject("gridbox");

                    gridPayrollInfo.setImagePath("../../../../codebase/imgs/");
                    gridPayrollInfo.setHeader("ID,Payroll Date,Gross Pay,Locked");
                    gridPayrollInfo.enableEditEvents(false, false, false);
                    gridPayrollInfo.setColAlign("left,left,left,right,center");
                    gridPayrollInfo.setColTypes("txt,txt,txt,txt,txt");
                    gridPayrollInfo.attachEvent("onRowSelect", "RowClick");
                    gridPayrollInfo.enablePaging(true, 10, 3, "gridpgn", false);
                    gridPayrollInfo.setPagingSkin("bricks");
                    gridPayrollInfo.init();
                    gridPayrollInfo.setColumnHidden(0, true);
                    gridPayrollInfo.setSkin("dhx_skyblue");  
                    var AdForHomePages = msg;
                xmlstringPayrollInfo = xmlstringPayrollInfo + "<rows>";
                    $.each(AdForHomePages, function (index, Payroll) {
                        
                        xmlstringPayrollInfo = xmlstringPayrollInfo + "<row id='" + index + "'>";
                        xmlstringPayrollInfo = xmlstringPayrollInfo + "<cell><![CDATA[" + Payroll.PayrollID + "]]></cell>";
                        xmlstringPayrollInfo = xmlstringPayrollInfo + "<cell><![CDATA[" + new Date(parseInt(Payroll.PayrollDate.substr(6))) + "]]></cell>";

                        var amt = "";
                        if (Payroll.GrossPay == 'undefined' || Payroll.GrossPay == '0') {
                            amt = "$0.00";
                        }
                        else {
                            amt = "$";
                            amt += CommaFormatted(Payroll.GrossPay);
                        }
                        xmlstringPayrollInfo = xmlstringPayrollInfo + "<cell><![CDATA[" + amt + "]]></cell>";
                        xmlstringPayrollInfo = xmlstringPayrollInfo + "<cell><![CDATA[" + Payroll.LockedYN + "]]></cell>";

                        xmlstringPayrollInfo = xmlstringPayrollInfo + "</row>";
                    });
                    xmlstringPayrollInfo = xmlstringPayrollInfo + "</rows>";
                    
                    gridPayrollInfo.loadXMLString(xmlstringPayrollInfo);
                },
                type: "POST",
                dataType: "json",
                error: function (e) {
                    $('#output').innerHtml(e);

                }
            });


        }
    </script>
    }
    <style type="text/css">
        .link
        {
            text-decoration: none;
            color: Black;
            cursor: hand;
            cursor: pointer;
        }
    </style>
    @{Html.BeginForm("GetPayrollHistroy", "PayrollHistory");}
    
    <div style="height: 650px; margin-top: 10px;" class=" dhx_tabbar_zone_top">
        <div class="dhx_tabbar_zone dhx_tabbar_zone_dhx_skyblue">
            <div class="dhx_tablist_zone" style="height: 24px; top: 0px;">
                <div class="dhx_tabbar_row" style="height: 26px; top: 0px; z-index: 10;">
                   <div class="dhx_tab_element dhx_tab_element_inactive dhx_tab_hover" style="height: 26px;
                        background-color: white; z-index: 7; top: 0px; left: 5px; width: 150px;">
                        <span><a class="link" href="../Employee/EmployeeList">Employee List</a></span><div
                            style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                        </div>
                    </div>
                    <div class="dhx_tab_element dhx_tab_element_inactive dhx_tab_hover" style="height: 26px;
                        background-color: white; z-index: 5; top: 0px; left: 154px; width: 150px;">
                        <span><a class="link" href="PayrollSetup">Payroll Setup</a></span><div
                            style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                        </div>
                    </div>
                    <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 150px; height: 26px;
                        top: 0px; left: 303px;">
                        <span><a class="link" href="../Employee/TimeCardSummary">Time Card Summary</a></span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                        </div>
                    </div>
                    <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 150px; height: 26px;
                        top: 0px; left: 452px;">
                        <span><a class="link" href="PayrollProcessing">Payroll Processing</a></span><div
                            style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 144px; left: 3px; background-position: 0px -230px;">
                        </div>
                    </div>
                    <div class="dhx_tab_element dhx_tab_element_active dhx_tab_hover" style="height: 26px;
                        top: 0px; left: 601px; width: 150px; background-color: white; z-index: 11;">
                        <span>Payroll History</span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; left: 0px; background-position: 0px -50px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; right: 0px; background-position: 0px -140px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 144px; left: 3px; background-position: 0px -95px;">
                        </div>
                    </div>
                    <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 100px; height: 26px;
                        top: 0px; left: 750px;">
                        <span><a class="link" href="../Employee/hr_form">Forms</a></span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 94px; left: 3px; background-position: 0px -230px;">
                        </div>
                    </div>
                    <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 100px; height: 26px;
                        top: 0px; left: 849px;">
                        <span><a class="link" href="../Employee/HR_ReviewForm">Reviews</a></span><div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 94px; left: 3px; background-position: 0px -230px;">
                        </div>
                    </div>
                    <div class="dhx_tab_element dhx_tab_element_inactive" style="width: 100px; height: 26px;
                        top: 0px; left: 948px;">
                        <span><a class="link" href="../Employee/EmployeeReminders">Reminders</a></span><div
                            style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; left: 0px; background-position: 0px -185px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 3px; right: 0px; background-position: 0px -275px;">
                        </div>
                        <div style="background-image: url(../../../../codebase/imgs/dhx_skyblue/dhx_skyblue_top.gif);
                            top: 0px; width: 94px; left: 3px; background-position: 0px -230px;">
                        </div>
                    </div>
                    <div class="dhx_tablist_line" style="top: 22px; z-index: 8; width: 1332px;">
                    </div>
                </div>
            </div>
            <div class="dhx_tabcontent_zone" style="background-color: white; height: 621px; width: 99.9%;
                top: 27px;">
                <div style="overflow: hidden; position: absolute; z-index: 1; left: 0px; top: 0px;
                    width: 99.9%; height: 621px;">
                    <div id="dhxMainCont" style="position: relative; left: 0px; top: 0px; overflow: hidden;
                        width: 100%; height: 800px;">
                        <fieldset style="vertical-align: bottom; padding: 5px 0px 5px 0px; width: 100%; margin: 0px;">
                            <div style="margin-right: 50px; float: left; margin-left: 5px;">
                                <label style="font-size: larger; font-weight: bold;">
                                    Payroll History</label>
                            </div>
                        </fieldset>
                        <div id="gridbox" style="width: 100%; height: 500px; margin-top: 10px;">
                        </div>
                        <div id="gridpgn">
                        </div>
                    </div>
                </div>
            </div>
            <div class="dhx_tabbar_lineA" style="top: 24px; width: 100%;">
            </div>
            <div class="dhx_tabbar_lineB" style="top: 24px; width: 100%;">
            </div>
            <div class="dhx_tabbar_lineC" style="height: 21px;">
            </div>
            <div class="dhx_tabbar_lineD">
            </div>
        </div>
    </div>
    <div style="float: left; margin-left: 10px">
        <input id="btnExportToExcel" type="button" onclick="ExportExcel()" value="Export" />
    </div>
    @{Html.EndForm();}