@model SecurityGuard.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password Success";
    Layout = "~/Views/Shared/MainLayout.cshtml";
   
}
@section Title{
    <h2>
    </h2>
}
@section Comments{
    <div id="comments">
        “ConnectusPro offers owners a level of control they could never experience on their
        own. There is not a service company in North America that would not benefit from
        the Pulse running as the engine under their hood.” <span class="comment-by">L.S.</span>
    </div>
}
<div style="margin-left: auto; margin-right: auto; width: 700px; padding-top: 50px">
    <h2>
        Password Reset Success</h2>
    <label for="UserName" class="formComponentLabel">
        Your new password has been emailed to you..</label>
</div>
<script type="text/javascript">

    var height = screen.height;

    if (height > 800) {
        $("#main").css("height", 655);
    } else {
        $("#main").css("height", 455);
    }

</script>