/****************************** General Styles ******************************/
body {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #444549;

	background: url('../img/topBG.png') 0 0 repeat-x;
}

.fl {float: left;}
.fr {float: right;}

.cl {clear: left;}
.cr {clear: right;}
.cb {clear: both;}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	font-size: 24px;
}

h3 {
	font-size: 14px;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color:#225fa0;
}

em {
	font-size: 11px;
	font-style: italic;
	color: #919295;
}

a:hover {
	text-decoration: underline;
}

.noBottomBorder {
	border-bottom: none !important;
	overflow: hidden;
}

.noRightBorder {
	border-right: none !important;
}

p {
	line-height: 1.5em;
	margin: 15px 0;
}

div.blankSeparator {
	height: 1px;
	margin-bottom: 30px;
	display: block;
}

div.sepContainer {
	height: 20px;
	background: url('../img/separatorBG.png') 0 0 repeat-x;
	display: block;
	margin: 30px 0;
}

.lastCol {
	margin-right: 0 !important;
}

/******************************* Structure Styles *******************************/

div.centerContainer {
	width: 1290px;
	margin: 0 auto;
	overflow: hidden;
}

/******************************* Top Part *******************************/
div#topContainer {
	background: url('../img/topBGPattern.png') 0 0 repeat;
	height: 131px;
}

.logo {
	margin-top: 40px;
}

div#contactInformationTop {
	background: url('../img/topPaperShadow.png') top center no-repeat;
	width: 291px;
	height: 118px;
}

div#contactInformationTop ul {
	padding: 0 30px;
}
	
div#contactInformationTop ul li {
	border-bottom: 1px solid #ebebed;
}
	
div#contactInformationTop ul li span {
	color: #444549;
}

div#contactInformationTop ul li p {
	font-size: 11px;
	color: #92979D;
	background: url('../img/bulletPoint.png') left center no-repeat;			
	padding-left: 15px;
	margin: 8px 0;
}
		
div#contactInformationTop ul li ul { /* the social icons list */
	padding: 0; /* reseting some inherited padding */
	margin: 8px 0 0 10px;
}
		
div#contactInformationTop ul li ul li {
	display: inline;
	background: none; /* reseting inherited BG and borders */
	border: none;
	padding: 0 5px 0 0;
}

/******************************* Menu *******************************/
div#menuContainer {
	background: url('../img/menuBG.png') 0 0 repeat-x;
	height: 40px;
}

ul#nav {
    margin-left:30px;
}

ul#nav li {
	float: left;
	display: inline;
	margin: 12px 26px 0 0;
	background: url('../img/menuSep.png') center right no-repeat;
	padding-right: 26px;
}

ul#nav li a {
	color: white;
	font-size: 14px;
	text-transform: uppercase;
}
	
ul#nav li a:hover {
	color: #92979D;
}

ul#navLogin {
	padding-right:6px;
}

ul#navLogin li {
	float: right;
	display: inline;
	margin: 12px 0 0 6px;
	background: url('../img/menuSep.png') center left no-repeat;
	padding-left: 6px;
}

ul#navLogin li a {
	color: white;
	font-size: 12px;
}

ul#navLogin li a:hover {
	color: #92979D;
}
	
/******************************* Content *******************************/	

/******************************* SideBar Menu *******************************/	
div#SideBarMenu {
	background: url(../img/subMenuBg.png) center top no-repeat;
	width: 240px;
	height:720px;
}

div#SideBarMenu h2 {
    color:#333;
	font-size:20px;
	margin-top:20px;
	padding: 0 0 10px 30px;
}

ul#navSidebar {
}
	
ul#navSidebar li {
    width:196px;
    float: left;
    display: block;
    padding: 12px 0 8px 30px;
}
		
ul#navSidebar li a {
    color: #666;
    font-size: 14px;
    font-weight:400;
    text-transform: uppercase;
}

ul#navSidebar li a:hover {
    color:#225fa0;
}

.selected {   
    color:white;
    text-transform: uppercase;
    background:url(../img/subMenuSelectedBg.png);
}

/******************************* Big Icons + Description *******************************/	
div#BigIcons {
	width: 980px;
	margin: 0 auto;
}

.BigIconTop {
    display:block;
	background-color:#fff;
	float:left;
	width:228px;
	height:238px;
	padding:0 0 0 10px;
}

.BigIconTop h3 {
    font-family:"Courier New", Courier, monospace;
    margin-top:35px;
    color: #225fa0;
    font-size: 16px;
    text-align:center;
    font-weight:bold
}

.BigIcon {
	display:block;
	background-color:#fff;
	float:left;
	width:228px;
	height:238px;
	padding:0 0 0 10px;
	border: 1px solid;
}
	
.BigIcon img {
    /*display:block;
    padding-left:40px;
    margin-top:0px;
    width:160px;
    height:160px;*/
    display: block;
    height: 100px;
    margin-top: 0;
    padding-top: 10px;
    width: 200px;
}

.BigIcon h3 {
    font-family:"Courier New", Courier, monospace;
    margin-top:20px;
    color: #225fa0;
    font-size: 16px;
    text-align:center;
    font-weight:bold
}
	
.BigIcon span {
	display:block;
	margin-top:8px;
	color: #8B8B8B;
	font-size: 13px;
	font-weight:bold;
	text-align:center;
}	
	
div.horizontalLine {
	display:block;
	padding:0 0 0 0;
	margin:auto;
	float:left;
	width:955px;
	height:1px;
	background-color: Black;
}
	
div.horizontalLineWhite {
	display:block;
	padding:0 0 0 0;
	margin:auto;
	float:left;
	width:15px;
	height:1px;
	background-color:#fff;
}
			
div.horizontalLineBlack {
	display:block;
	padding:0 0 0 0;
	margin:auto;
	float:left;
	width:951px;
	height:1px;
	background-color:#000;
}		

div.verticalLine {
	display:block;
	padding:0 0 0 0;
	margin:auto;
	float:left;
	width:1px;
	height:239px;
}	
	
div.verticalLineTop {
	display:block;
	padding:0 0 0 0;
	margin:auto;
	float:left;
	width:1px;
	height:239px;
}	
			
div.verticalLineTopWhite {
    display:block;
    padding:0 0 0 0;
    margin:auto;
    float:left;
    width:1px;
    height:29px;
    background-color:#fff;
}	
					
div.verticalLineTopBlack {
    display:block;
    padding:0 0 0 0;
    margin:auto;
    float:left;
    width:1px;
    height:210px;
    background-color:#000;
}
			
div#verticalLineMiddle {
    display:block;
    padding:0 0 0 0;
    margin:auto;
    float:left;
    width:1px;
    height:239px;
    background-color:#000;
}
			
div#verticalLineBottom {
    display:block;
    padding:0 0 0 0;
    margin:auto;
    float:left;
    width:1px;
    height:239px;
}
			
div#verticalLineBottomBlack {
    display:block;
    padding:0 0 0 0;
    margin:auto;
    float:left;
    width:1px;
    height:210px;
    background-color:#000;
}
					
div#verticalLineBottomWhite {
    display:block;
    padding:0 0 0 0;
    margin:auto;
    float:left;
    width:1px;
    height:29px;
    background-color:#fff;
}
	
div#rightBar {
    display:block;
    padding:0 0 0 0;
    margin:auto;
    float:right;
    width:4px;
    height:720px;
    background:url(../img/rightBar.png);
}
	
/******************************* Footer *******************************/	
div#footerBG {
	background: url('../img/footerBG.png') 0 0 repeat-x;
	height: 60px;
}

div#footerPattern {
	background: url('../img/topBGPattern.png') 0 0 repeat;
	height: 60px;
}
	
div#Footer {
	height: 60px;
}

div#footerCopyrightPrivacy {
	width:240px;
	text-align:center;
	margin-top:20px;
}

div#footerCopyrightPrivacy p {
    margin-top:0px;
	font-size:11px;
}

div#footerCopyrightPrivacy a {
    font-size:11px;
}
	
div#footerNavigation {
    width:720px;
    margin: auto;
	text-align:center;
}
		
ul#navFooter {
	margin-top:20px;
}

ul#navFooter li {
    display: inline;
	margin: 10px 0 0 17px;
	padding-left: 17px;
}
	
ul#navFooter li a {
	color: #999;
	font-size: 14px;
	text-transform: uppercase;
}
	
ul#navFooter li a:hover {
	color: #333;
}	
	
/******************************* Other Browser Styles *******************************/
.ie7 ul#nav li a:hover {
	text-decoration: none;
}