@using SiteBlue.Areas.PriceBook.Models
<div style="background-color: Black; height: 30px; width: 100%">
    <div style="float: left;padding-right:30px;padding-left:10px;">
        <img src="../../Images/ConnectusPro logo CMYK 2.png" height="95%" width="150px"
            alt="Image not found" />
    </div>
    <div style="padding-left:30px;padding-top:5px">
          @Html.DropDownList("combo_zonewer", new SelectList((List<SiteBlue.Areas.PriceBook.Models.Franchise>)ViewBag.frenchise, "FranchiseID", "FranchiseNUmber"), (int)ViewBag.FrenchiseID)
    </div>
</div>