@model Plumber.Models.LocationServiceCategory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Confirm delete</h2>

<h3>Are you sure you want to delete the service @Model.ServiceCategory.ServiceCategoryName for the location @Model.Location.LocationName?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index", new { id = Model.LocationId })
    </p>
}
