<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="CacheFor5Seconds" duration="5" varyByParam="none"/>
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
	</system.web>

	<connectionStrings>
		<add name="UCCX" connectionString="data source=192.168.100.241\CRSSQL;Integrated Security=SSPI;Initial Catalog=db_cra" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="ServiceAspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
		  multipleSiteBindingsEnabled="true" />
		<services>
			<service name="Wallboard.Service">
				<endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior"
				  binding="webHttpBinding" contract="Wallboard.Service" />
			</service>
		</services>
	</system.serviceModel>
</configuration>