@using SiteBlue.Areas.OwnerPortal.Models
@{
Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        var myCalendar;
        $("#FranchiseID").change(function () {
//            $("#log").ajaxError(function (event, jqxhr, settings, exception) {
//                alert(exception);
//            });
            var countrySelected =$(this).val();

            $.get('@Url.Action("dec_charts")',
                { id: countrySelected }, function (data) {
                    $("#target").html(data);
                    myCalendar = new dhtmlXCalendarObject(["calendar", "calendar2"]);
                });
        });
    });
</script>


<div style="background-color: Black; height: 30px; width: 1366px">
    <div style="float: left;padding-right:30px;padding-left:10px;">
        <img src="../../Images/ConnectusPro logo CMYK 2.png" height="95%" width="150px"
            alt="Image not found" />
    </div>
    <div style="padding-left:30px;padding-top:5px">
       @Html.DropDownList("FranchiseID", new SelectList((List<SiteBlue.Areas.PriceBook.Models.Franchise>)ViewBag.frenchise, "FranchiseID", "FranchiseNUmber"), "select a Franchise", new { id = "FranchiseID" })
    </div>
</div>


<body id="scheduler_here" class="dhx_cal_container" style="width: 100%; height: 100%;overflow:scroll"; onclick="doOnLoad();">
  <div id="target">
   </div>
</body>
   
    <div id="log">
    </div>