body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f9fbfc;
}




/* data table */
table.data-table  {width:100%;border:5px solid #f9fbfc;border-top:none; font-size:.6em;}
table.data-table td, table.data-table th {padding:6px 10px; border-top:2px solid #eff3f7;background:#e7f0f3;}
table.data-table th { text-align:left;}
table.data-table thead th { background:#d7e6ec;border-top:5px solid #f9fbfc;color:#000;}
table.data-table tbody th { background:#f1f6f8; border-top-color:#f9fbfc;}
/* action cells */
table.data-table td.actions, table.data-table th.actions {padding:0px;width:40px;}
table.data-table td.actions {font-family:Arial, Helvetica, sans-serif;white-space:nowrap; text-align:center;border-right:1px dashed #d7e6ec;}
table.data-table th.actions {font-weight:normal;color:#4d8aa2;text-align:center;}
table.data-table td.comment {padding:6px 10px; border-top:2px solid #eff3f7;background:#e7f0f3;width:60%}
/* links */
table.data-table a { border-style:none; }
.display-table
{
    display: inline;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
}

.display-table li
{
    display: inline;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
}
.aformtext {width:950px; height:21px; text-align:left; border:#CCCCCC 1px solid; font-size:12px; }
.aformtextarea {width:950px; height:88px; text-align:left; border:#CCCCCC 1px solid; font-size:12px; } 
.alongtextarea {width:950px; height:88px; text-align:left; border:#CCCCCC 1px solid; font-size:12px; } 

#helperfieldset
{
    width: 60%;
    border: 1px solid #EAEAEA;
}

#helpul
{
    list-style:none;
}

#helpul li
{
    display:inline;
    float:left;
    text-align:center;
    margin-bottom:15px;
    margin-left:15px;
    width:150px;
}

#leftmenu
{
    list-style:none;
}

#leftmenu li
{
    display:block;
    margin-bottom:5px;   
}