<div id="summary">
    <div id="appointments" style="padding-top: 10px">
        <img src="@Url.Content("~/Content/images/loading.gif")" alt="" />
    </div>
    <div id="careerApplications" style="padding-top: 10px">
    </div>
    <div id="serviceFeedbacks" style="padding-top: 10px">
    </div>
</div>
