@using SiteBlue.Models
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/SecondaryLayout.cshtml";
}
<div id="error" style="height: 300px">
    @*<h1>Something blew up...</h1>*@ @*<p>Time to beat the programmers again. Very sorry about the inconvenience! I'd say, give it a try in ten minutes or so, or an hour? Or tomorrow?</p>*@
    <p>This page is momentarily unavailable. Please check back later.</p>
    <p>@Html.ActionLink("Back to the home page", "Index", "Home")</p>
    <p>@Model.Exception.Message</p>
    <div style="overflow: auto; height: 175px; border: 1px solid #c0c0c0; padding: 3px">@Model.Exception.ToString()</div>
</div>
