<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="TestMode" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="PriceBookContext" connectionString="Data Source=tcp:conn951.gearhost.us.com;Initial Catalog=eighthundred_new;User ID=eighthundred;Pwd=A8b9jdlO" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CallCenterContext" connectionString="Data Source=tcp:conn951.gearhost.us.com;Initial Catalog=eighthundred;User ID=eighthundred;Pwd=A8b9jdlO" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MembershipConnection" connectionString="Data Source=tcp:conn951.gearhost.us.com;Initial Catalog=Membership;User ID=eighthundred;Password=A8b9jdlO;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="QuestionnaireContext" connectionString="Data Source=tcp:conn951.gearhost.us.com;Initial Catalog=ConnectUsPro;User ID=eighthundred;Password=A8b9jdlO;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="HVAC_appContext" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:conn951.gearhost.us.com;Initial Catalog=eighthundred;User ID=eighthundred;Password=A8b9jdlO" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=conn951.gearhost.us.com;initial catalog=Membership;user id=eighthundred;password=A8b9jdlO;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OwnerPortalContext" connectionString="Data Source=tcp:conn951.gearhost.us.com;Initial Catalog=eighthundred;User ID=eighthundred;Pwd=A8b9jdlO;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IncomingCallsQAEntities" connectionString="metadata=res://*/IncomingCallModel.csdl|res://*/IncomingCallModel.ssdl|res://*/IncomingCallModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:conn951.gearhost.us.com;initial catalog=DB_10668_calls;persist security info=True;user id=eighthundred;password=A8b9jdlO;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="EightHundredBaseContext" connectionString="metadata=res://*/EightHundred.csdl|res://*/EightHundred.ssdl|res://*/EightHundred.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Conn951.gearhost.us.com;Initial Catalog=eighthundred;Persist Security Info=True;User ID=eighthundred;Password=A8b9jdlO;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>