<div id="SideBarMenu" class="fl">
    <h2>
        SIDEBAR MENU</h2>
    <ul id="navSidebar">
        <li class="selected">Shortcuts</li>
        <li><a href="#"></a></li>
        @*<li><a href="@(System.Configuration.ConfigurationManager.AppSettings["ConnectUsProWebsite"].ToString() + "/Questionnaire")" title="Electronic Onboarding">Electronic Onboarding</a></li>*@
    	@*<li>@Html.ActionLink("Electronic Onboarding", "Index", "Questionnaire", new { area = "" }, new { @alt = "Electronic Onboarding" })</li>*@
        @*<li><a href="http://www.plumberdashboard.com/pricebook/pricebook" title="Training Pricebook">Training Pricebook</a></li>*@
        @*<li>@Html.ActionLink("Training Pricebook", "Training", "Dashboard", new { area = "LandingPage" }, new { @alt = "Training Pricebook" })</li>*@
        @*<li><a href="#" title="Other links">Training Pricebook</a></li>*@
        <li><a href="http://www.plumberdashboard.com/pricebook/pricebook" title="My Pricebook">My Pricebook</a></li>
        <li><a href="http://www.plumberdashboard.com//OwnerPortal/OwnerAlerts" title="Alerts">Alerts</a></li>
     </ul>
</div>
