<div id="footer">
    <a href="@Url.Content("~/Privacy")" class="emaillink">Click here</a> for Legal &amp; Privacy
    Policies. 1-800-PLUMBER&reg; 2010. All Rights Reserved by 1-800-PLUMBER&reg; and
    www.1800plumber.com<br />
</div>
