<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PDFLicense" value="jLPyF+uo7sKetZ9Zl6TNGvGd3PbaGeWol+jyH+R2mbbA5K5rp7XDzZ+v3PYEFO6ntKbEzZ9otZGby59Zl8AEFOan2PgGHeR3uLYK/fee3vfrD+mu4sfX7sKGwdQC/Lx2s7MEFOan2PgGHeR3hI7N2uui2un/HuR3hI514+30EO2s3MKetZ9Zl6TNF+ic3PIEEMidtbjC4bVxrr3H5LR1pvD6DuSn6unaD71GgaSxy5914+30EO2s3OnP566l4Of2GfKe3MKetZ9Zl6TNDOul5vvPuIlZl6Sxy59Zl8DyD+NZ6/0BELxbvNO/++OfmaQHEPGs4PP/6KFspbSzy653hI6xy59Zsw=="/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <remove assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <remove assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <remove assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <remove assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <remove assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <membership>
      <providers>
        <clear/>
      </providers>
    </membership>
    <authentication mode="Windows" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="SiteBlue.DocumentGeneration.Render">
        <endpoint binding="basicHttpBinding" bindingConfiguration="DefaultBinding"
        contract="SiteBlue.DocumentGeneration.IRenderDocuments">
        </endpoint>
      </service>
      <service name="SiteBlue.DocumentGeneration.Invoice">
        <endpoint binding="basicHttpBinding" bindingConfiguration="DefaultBinding"
        contract="SiteBlue.DocumentGeneration.IGenerateInvoices">
        </endpoint>
      </service>
      <service name="SiteBlue.DocumentGeneration.TechBio">
        <endpoint binding="basicHttpBinding" bindingConfiguration="DefaultBinding"
        contract="SiteBlue.DocumentGeneration.IGenerateTechBios">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>